<h1>{{title}}</h1>
<div (click)="onDivTest()">
  <p>vous avez clique {{count}} fois sur le bouton</p>
  <button (click)="onTest($event)">Test</button>
  <br />
  Age maximum : <input type="number" [(ngModel)]="maxAge">
</div>
<ng-container *ngIf="count > 3">
  <h2>Enregistrer une nouvelle personne :</h2>
  <form action="#" #myForm>
    <label for="firstname">Prénom</label>
    <input id="firstname" name="firstname" value="toto" required>
    <label for="lastname">Nom</label>
    <input id="lastname" name="lastname" value="" required>
    <label for="age">Age</label>
    <input type="number" id="age" name="age" min="0" [max]="maxAge" required>
    <button>Valider</button>
  </form>
</ng-container>
<ul>Propriétés du formulaire :
  <li>{{myForm?.action}}</li>
  <li>{{myForm?.method}}</li>
</ul>
<!--<button (click)="swapTimer()">Afficher/Cacher le timer</button>
Décompte du timer : <input type="number" [(ngModel)]="timeValue">
<div *ngFor="let time of timers">
  <app-timer [ngClass]="{timeOver: timeOver }" *ngIf="addTimer" [time]="time" (done)="animateTimer()"></app-timer>
</div>-->
<button (click)="ajouterTimer()">Ajouter un timer</button>
Décompte du timer : <input type="number" [(ngModel)]="timeValue">
<div *ngFor="let time of timers">
  <app-timer [ngClass]="{timeOver: timeOver }" *ngIf="addTimer" [time]="time" (done)="animateTimer()"></app-timer>
</div>
